fastapi 
uvicorn 
ultralytics 
opencv-python-headless 
pillow 
# sqlite3 
streamlit 
python-multipart
ultralytics
geopy
streamlit-js-eval
requests
reportlab
langgraph
langchain-google-genai
langchain-core
dotenv